{% extends "base.html" %}

{% block title %}Lupa USP - Add Data{% endblock %}

{% block content %}
{% if dataFiles %}
        <ul>
            {% for dataFile in dataFiles %}
                <li><a href="{{ dataFile.dataFile.url }}">{{ dataFile.dataFile.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No dataFiles.</p>
    {% endif %}

    <form action="{% url "addData" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ form }} </p>
        <p><input type="submit" value="Upload"/></p>
    </form>
{% endblock %}

